<ion-header>
  <ion-toolbar>
    <ion-title>chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail routerLink="123">
      <ion-avatar slot="start">
        <img src="https://randomuser.me/api/portraits/women/60.jpg" alt="une image" />
      </ion-avatar>
      <ion-label>
        <p><strong>User name</strong></p>
        <p>Conversation last text</p>
      </ion-label>
      <ion-note slot="end">Date</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
