<ion-header>
  <ion-toolbar>
    <ion-title>chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ng-container *ngIf="(chatArr$|async) as chatArr">

      <ion-item detail button (click)="selectChat(chat)" *ngFor="let chat of chatArr">
        <ion-avatar slot="start">
          <img src="https://randomuser.me/api/portraits/women/60.jpg" alt="une image" />
        </ion-avatar>
        <ion-label>
          <p><strong> {{ chat.name }} </strong></p>
          <p> {{chat.messages[chat.messages.length - 1]?.message}} </p>
        </ion-label>
        <ion-note slot="end">Date</ion-note>
      </ion-item>

    </ng-container>

  </ion-list>

  <ion-button (click)="onTest()" expand="block" >
    Test
  </ion-button>
</ion-content>
