ion-content{
  // --background:center url("https://i.pinimg.com/originals/79/5c/ab/795cabc4647f73b365e2e6eabd0f34dc.png")
  --background: #ab7545 linear-gradient(62deg, #ab7545 0%, #f7f1e7 100%);
}

.userMessage{
  margin:5px 5px 5px auto;
  width: fit-content;
  border-radius: 6px;
  --ion-background-color: #9bbffe;
}

.friendMessage{
  margin:5px auto 5px 5px;
  width: fit-content;
  border-radius: 6px;
  --ion-background-color: white;
}

.messageInput{
  width: 94%;
  padding: 5px 12px 5px 12px;
  border-radius: 15.7px;
}
