<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  icon="chevron-back-outline" defaultHref="/home/tabs/chats"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-label>
          <p><strong> {{ chatData.name }} </strong></p>
        </ion-label>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="call-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding" fixed>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-item-sliding *ngFor="let message of chatData.messages; let i=index"
    class="userMessage"
    [ngClass]="{'friendMessage': message.from !== user_id}"
    >
      <ion-item-options side="start">
        <ion-item-option (click)="onEditMessage(message._id)" color="primary"
        *ngIf="i === chatData.messages.length - 1 && message.from === user_id"
        >
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label style="margin: 0%;"> {{ message.message }} </ion-label>
        <ion-note slot="end" style="margin-inline: 6px" > {{ message.time | date: 'shortTime'  }} </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="onDeleteMessage(message._id)" color="danger" *ngIf="i === chatData.messages.length - 1 && message.from === user_id" >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>

  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button>
              <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
            <input class="messageInput" size="small" type="text" placeholder="Awesome Input" name="chat" [(ngModel)]="chat">
          <ion-buttons slot="secondary">
            <ion-button (click)="onPostMessage()">
              <ion-icon slot="icon-only" name="send-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-footer>
