<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>camera</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>chats</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="status">
      <ion-icon name="disc-outline"></ion-icon>
      <ion-label>status</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calls">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>calls</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

