<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<form [formGroup]="connexionForm">
  <ion-item>
    <ion-label position="floating">Username <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="userName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
    <ion-input formControlName="mdp" type="text"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="onSubmit(connexionForm)" [disabled]="connexionForm.invalid">
    Login
  </ion-button>
</form>
<a routerLink="/registration">Pas encore inscrit ? Inscrivez vous en cliquant ici</a>

</ion-content>
